:root {
    --background: rgba(24, 3, 48, 0.918);
    --header-color: rgba(81, 182, 223, 0.534);
    --header-shadow: rgb(55, 46, 87, 0.5);
    --button-color: rgba(55, 46, 87, 0.5);
    --button-color-hover: #fff;
    --logo-color: #fff;
    --button: #1976d2;
    --black-color: #000;
    --nonActive-color: rgb(62, 71, 71);
    --line-color: rgba(71, 70, 70, 0.452); 
    --green-label: rgba(33, 177, 81, 0.747); 
    --yellow-label: rgba(203, 206, 40, 0.747);  
    --red-label: rgba(240, 38, 38, 0.747); 
}